.App {
  text-align: center;
  color: rgb(103, 226, 41);
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0527bbc1-d407-4015-8e54-51bb78fbd17c/d4gkwo0-b1b3bd82-3a99-4587-a768-0a9ccf67eb77.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MjdiYmMxLWQ0MDctNDAxNS04ZTU0LTUxYmI3OGZiZDE3Y1wvZDRna3dvMC1iMWIzYmQ4Mi0zYTk5LTQ1ODctYTc2OC0wYTljY2Y2N2ViNzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mdb1Hqpg5NvyrNL6vAOD6tMtYqMS4XAO4QX4TOdxto4");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.homelink {
  display: flex;
  justify-content: flex-start;
}

.destilink {
  display: flex;
  justify-content: flex-start;
}

.updatelink {
  display: flex;
  justify-content: flex-end;
}

.conlist {
  background-color: slategrey;
  border-radius: 70px;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  /* padding: 5rem 5rem; */
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.destilist {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 93, 109);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}

/* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  word-wrap: break-word;
  background-color: rgb(1, 87, 64);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
} */

.card-body {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  flex-wrap: wrap;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: center;
}

.showpagelist {
  background-color: rgb(126, 116, 98);
  padding: 10px;
}

.updatedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
}
