.App {
  text-align: center;
  /* background-color: rgb(96, 88, 187); */
  color: rgb(116, 157, 193);
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0527bbc1-d407-4015-8e54-51bb78fbd17c/d4gkwo0-b1b3bd82-3a99-4587-a768-0a9ccf67eb77.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MjdiYmMxLWQ0MDctNDAxNS04ZTU0LTUxYmI3OGZiZDE3Y1wvZDRna3dvMC1iMWIzYmQ4Mi0zYTk5LTQ1ODctYTc2OC0wYTljY2Y2N2ViNzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mdb1Hqpg5NvyrNL6vAOD6tMtYqMS4XAO4QX4TOdxto4");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.conlist {
  background-color: rgb(159, 124, 216);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  flex: 1 1 auto;
  /* padding: 5rem 5rem; */
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.destilist {
  /* flex: 1 1 auto; */
  /* padding: 5rem 5rem; */
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(159, 124, 216);
  border-radius: 10px;
}

/* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  word-wrap: break-word;
  background-color: rgb(1, 87, 64);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
} */

.card-body {
  display: flex;
  justify-content: center;
  /* padding: 100px; */
}

.card {
  /* align-content: center; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  /* background-clip: content-box; */
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.showpage {
  background-color: rgb(174, 148, 100);
}
