.App {
  text-align: center;
  color: rgb(103, 226, 41);
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0527bbc1-d407-4015-8e54-51bb78fbd17c/d4gkwo0-b1b3bd82-3a99-4587-a768-0a9ccf67eb77.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MjdiYmMxLWQ0MDctNDAxNS04ZTU0LTUxYmI3OGZiZDE3Y1wvZDRna3dvMC1iMWIzYmQ4Mi0zYTk5LTQ1ODctYTc2OC0wYTljY2Y2N2ViNzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mdb1Hqpg5NvyrNL6vAOD6tMtYqMS4XAO4QX4TOdxto4");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.homelink {
  display: flex;
  justify-content: flex-start;
  color: rgba(22, 238, 94, 0.55);
}

.destilink {
  display: flex;
  justify-content: flex-start;
  color: rgba(22, 238, 94, 0.55);
}

.updatelink {
  display: flex;
  justify-content: flex-end;
  color: rgba(22, 238, 94, 0.55);
}

.conlist {
  display: flex;
  background-color: slategrey;
  border-radius: 70px;
  justify-content: flex-start;
  align-items: flex-start;
}

.destilist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(99, 93, 109);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}

.showpagelist {
  background-color: rgb(126, 116, 98);
  padding: 10px;
}

.updatedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
}
.cardtwo {
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgba(53, 213, 133, 0.283);
}

a,
h1,
h3,
p,
label {
  color: #eeae0c;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0527bbc1-d407-4015-8e54-51bb78fbd17c/d4gkwo0-b1b3bd82-3a99-4587-a768-0a9ccf67eb77.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MjdiYmMxLWQ0MDctNDAxNS04ZTU0LTUxYmI3OGZiZDE3Y1wvZDRna3dvMC1iMWIzYmQ4Mi0zYTk5LTQ1ODctYTc2OC0wYTljY2Y2N2ViNzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mdb1Hqpg5NvyrNL6vAOD6tMtYqMS4XAO4QX4TOdxto4");
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0527bbc1-d407-4015-8e54-51bb78fbd17c/d4gkwo0-b1b3bd82-3a99-4587-a768-0a9ccf67eb77.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MjdiYmMxLWQ0MDctNDAxNS04ZTU0LTUxYmI3OGZiZDE3Y1wvZDRna3dvMC1iMWIzYmQ4Mi0zYTk5LTQ1ODctYTc2OC0wYTljY2Y2N2ViNzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mdb1Hqpg5NvyrNL6vAOD6tMtYqMS4XAO4QX4TOdxto4");
  }
}
